/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #717171;
  background-color: #141922;
}

/* main */
main{
  display: flex;
  height: calc(100vh - 100px);
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
  padding: 20px;
  background-color: #000000;
  overflow: hidden;
}

.sidebar-logo img{
  width: 130px;
  margin-bottom: 25px;
}

.sidebar li{
  list-style: none;
  height: 35px;
  padding: 5px 0;
}

.icon{
  width: 21px;
  vertical-align: middle;
}

.sidebar li.active{
  color: #ffffff;
  padding-left: 17px;
  margin-left: -20px;
  border-left: 3px solid #adff2f;
}

.sidebar h2{
  padding: 15px 0;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.sidebar-create-playlist{
  margin-bottom: 15px;
}

.sidebar-create-playlist-btn{
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  margin-right: 5px;
  color: #000000;
  background-color: #717171;
}

.sidebar ul.playlist {
  overflow-y: auto;
}

.main-content{
  width: calc(100% - 300px);
  overflow-y: auto;
  background-color: brown;
  font-size: 50px;
}

.main-content .upgrade{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: coral;
}

/* footer */
footer{
  height: 100px;
  background-color: cadetblue;
}